.App {
  text-align: center;
}

.main {
  margin: auto;
  margin-top: 20px;
  width: 60%;
}

.main-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

table {
  margin-top: 20px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

label {
  font-weight: 600;
}

.right button {
  width: 10%;
  margin-left: 90%;
}
